
.tile{
    max-width: 300px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: darkblue;
    border: 2px solid gray;
}
.tile:hover{
  -webkit-box-shadow: 0px 1px 15px -1px #000000; 
  box-shadow: 0px 1px 15px -1px #000000;
  transition: box-shadow 500ms;
}
  .tile img{
    width: 100%;
  }
h1{
  font-size: 25px;
  margin: 10px;
  color: darkgray;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftItems{
text-align: left;
}
.rightItems{
  display: flex;
  flex-direction: column;
}
.requestForm{
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background: gray;
  border-radius: 20px;
  z-index: 99;
  position: relative;
  right: 55%;
  max-width: 280px;
}
.requestForm label{
  color: white;
  padding: 4px;
}
textarea{
  max-width: 90%;
}
label{
  padding: 4px;
}
button{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: all .5s;
}
.hide,
.show{
  max-width: 150px;
  max-height: 50px;
}
button:hover{
  background-color: #3d5467;
  color: white;
}
